.header .nav .header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  position: absolute;
  z-index: 1;
  margin-top: 48px;
  width: 1475px;
}
.header .nav .header__item {
  margin-left: -306px;
}
.header .nav .header__item1 input {
  width: 600px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: inherit;
  color: white;
  padding-left: 12px;
}
.header .nav .header__item1 ::-moz-placeholder {
  color: white;
  opacity: 1;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}
.header .nav .header__item1 ::placeholder {
  color: white;
  opacity: 1;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}
.header .nav .header__item2 {
  display: flex;
  width: 170px;
  justify-content: space-between;
}
.header .nav .header__item2 h2 {
  font-family: "DM Sans";
  color: white;
}
.header .carousel-item .d-block {
  height: 969px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Prabellum_box {
  position: absolute;
  margin-top: -691px;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 1727px;
  margin-left: -269px;
}

.parabellum_inner h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 72px;
  width: 406px;
}
.parabellum_inner p {
  width: 443px;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 17px;
  line-height: 18px;
}
.parabellum_inner button {
  width: 225px;
  height: 40px;
  background-color: #BE123C;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
  text-transform: uppercase;
}
.parabellum_inner button img {
  width: 25px;
}

.Parabellum_item {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 216px;
  margin-left: -24px;
}

.parabellum_obj {
  list-style-type: none;
  font-size: 20px;
  margin-top: 112px;
  line-height: 37px;
}
.parabellum_obj a {
  text-decoration: none;
  color: #9CA3AF;
}
.parabellum_obj .parabellum-obj_third {
  font-size: 35px;
  margin-left: -16px;
  color: white;
}

.movie_arrowleft {
  margin-left: -326px;
  margin-top: 231px;
  position: absolute;
}

.movie_arrowright {
  margin-left: 1423px;
  margin-top: 231px;
  position: absolute;
}

.movie_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1695px;
  margin-left: -314px;
  list-style-type: none;
  margin-top: 75px;
}
.movie_inner h2 {
  font-weight: 700;
}
.movie_inner .movie_inner-item {
  margin-left: 1315px;
}
.movie_inner .movie_inner-item a {
  color: #BE123C;
  text-decoration: none;
}

.Movie_vairous {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1883px;
  margin-left: -384px;
}
.Movie_vairous .Movie_Stranger .stranger_ul {
  position: absolute;
  margin-top: 23px;
  display: flex;
  color: white;
  justify-content: space-between;
  width: 252px;
  list-style-type: none;
  margin-left: -18px;
}
.Movie_vairous .Movie_Stranger .stranger_ul .stranger_li {
  width: 80px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  color: #111827;
  background-color: rgba(243, 244, 246, 0.5);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
}
.Movie_vairous .Movie_Stranger .stranger_ul .stranger_liimg {
  margin-top: -3px;
}
.Movie_vairous .Movie_Stranger .stranger_number img {
  color: black;
}
.Movie_vairous .Movie_Stranger .stranger_item p {
  margin-top: 12px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #9CA3AF;
}
.Movie_vairous .Movie_Stranger .stranger_item h5 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
.Movie_vairous .Movie_Stranger .stranger_item .stranger_obj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: -32px;
}
.Movie_vairous .Movie_Stranger .stranger_item .stranger_obj :nth-child(2) {
  font-size: 12px;
  margin-left: -2px;
}
.Movie_vairous .Movie_Stranger .stranger_item .stranger_obj :nth-child(3) {
  margin-left: 82px;
}
.Movie_vairous .Movie_Stranger .stranger_item .stranger_obj :nth-child(4) {
  font-size: 14px;
}
.Movie_vairous .Movie_Batman {
  margin-top: 6px;
}
.Movie_vairous .Movie_Batman .batman_ul {
  list-style-type: none;
  margin-top: 19px;
  margin-left: 173px;
  position: absolute;
}
.Movie_vairous .Movie_Batman .batman_item p {
  margin-top: 12px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #9CA3AF;
}
.Movie_vairous .Movie_Batman .batman_item h5 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
.Movie_vairous .Movie_Batman .batman_item .batman_obj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: -32px;
}
.Movie_vairous .Movie_Batman .batman_item .batman_obj :nth-child(2) {
  font-size: 12px;
  margin-left: -2px;
}
.Movie_vairous .Movie_Batman .batman_item .batman_obj :nth-child(3) {
  margin-left: 82px;
  margin-top: -4px;
}
.Movie_vairous .Movie_Batman .batman_item .batman_obj :nth-child(4) {
  font-size: 14px;
}
.Movie_vairous .Movie_Spider {
  margin-top: 33px;
}
.Movie_vairous .Movie_Spider .spider_ul {
  list-style-type: none;
  position: absolute;
  margin-top: 17px;
  margin-left: 170px;
}
.Movie_vairous .Movie_Spider .spider_item p {
  margin-top: 12px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #9CA3AF;
}
.Movie_vairous .Movie_Spider .spider_item h5 {
  width: 255px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
.Movie_vairous .Movie_Spider .spider_item .spider_obj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: -32px;
}
.Movie_vairous .Movie_Spider .spider_item .spider_obj :nth-child(2) {
  font-size: 12px;
  margin-left: -2px;
}
.Movie_vairous .Movie_Spider .spider_item .spider_obj :nth-child(3) {
  margin-left: 82px;
  margin-top: -4px;
}
.Movie_vairous .Movie_Spider .spider_item .spider_obj :nth-child(4) {
  font-size: 14px;
}
.Movie_vairous .Movie_Dunkirk .dunkirk_ul {
  list-style-type: none;
  position: absolute;
  margin-top: 17px;
  margin-left: 170px;
}
.Movie_vairous .Movie_Dunkirk .dunkirk_item p {
  margin-top: 12px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #9CA3AF;
}
.Movie_vairous .Movie_Dunkirk .dunkirk_item h5 {
  width: 255px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
.Movie_vairous .Movie_Dunkirk .dunkirk_item .dunkirk_obj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: -32px;
}
.Movie_vairous .Movie_Dunkirk .dunkirk_item .dunkirk_obj :nth-child(2) {
  font-size: 12px;
  margin-left: -2px;
}
.Movie_vairous .Movie_Dunkirk .dunkirk_item .dunkirk_obj :nth-child(3) {
  margin-left: 82px;
  margin-top: -4px;
}
.Movie_vairous .Movie_Dunkirk .dunkirk_item .dunkirk_obj :nth-child(4) {
  font-size: 14px;
}

.arrival_arrowleft {
  margin-left: -326px;
  margin-top: 231px;
  position: absolute;
}

.arrival_arrowright {
  margin-left: 1423px;
  margin-top: 231px;
  position: absolute;
}

.arrival_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1695px;
  margin-left: -314px;
  list-style-type: none;
  margin-top: 75px;
}
.arrival_inner h2 {
  font-weight: 700;
}
.arrival_inner .arrival_inner-item {
  margin-left: 1378px;
}
.arrival_inner .arrival_inner-item a {
  color: #BE123C;
  text-decoration: none;
}

.arrival_vairous {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1883px;
  margin-left: -384px;
}
.arrival_vairous .arrival_dune .dune_ul {
  position: absolute;
  margin-top: 23px;
  display: flex;
  color: white;
  justify-content: space-between;
  width: 252px;
  list-style-type: none;
  margin-left: -18px;
}
.arrival_vairous .arrival_dune .dune_ul .dune_li {
  width: 80px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  color: #111827;
  background-color: rgba(243, 244, 246, 0.5);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
}
.arrival_vairous .arrival_dune .dune_ul .dune_liimg {
  margin-top: -3px;
}
.arrival_vairous .arrival_dune .dune_number img {
  color: black;
}
.arrival_vairous .arrival_dune .dune_item p {
  margin-top: 12px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #9CA3AF;
}
.arrival_vairous .arrival_dune .dune_item h5 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
.arrival_vairous .arrival_dune .dune_item .dune_obj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: -32px;
}
.arrival_vairous .arrival_dune .dune_item .dune_obj :nth-child(2) {
  font-size: 12px;
  margin-left: -2px;
}
.arrival_vairous .arrival_dune .dune_item .dune_obj :nth-child(3) {
  margin-left: 82px;
}
.arrival_vairous .arrival_dune .dune_item .dune_obj :nth-child(4) {
  font-size: 14px;
}
.arrival_vairous .arrival_notime {
  margin-top: 6px;
}
.arrival_vairous .arrival_notime .notime_ul {
  list-style-type: none;
  margin-top: 19px;
  margin-left: 173px;
  position: absolute;
}
.arrival_vairous .arrival_notime .notime_item p {
  margin-top: 12px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #9CA3AF;
}
.arrival_vairous .arrival_notime .notime_item h5 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
.arrival_vairous .arrival_notime .notime_item .notime_obj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: -32px;
}
.arrival_vairous .arrival_notime .notime_item .notime_obj :nth-child(2) {
  font-size: 12px;
  margin-left: -2px;
}
.arrival_vairous .arrival_notime .notime_item .notime_obj :nth-child(3) {
  margin-left: 82px;
  margin-top: -4px;
}
.arrival_vairous .arrival_notime .notime_item .notime_obj :nth-child(4) {
  font-size: 14px;
}
.arrival_vairous .arrival_shangchi {
  margin-top: 33px;
}
.arrival_vairous .arrival_shangchi .shangchi_ul {
  list-style-type: none;
  position: absolute;
  margin-top: 17px;
  margin-left: 170px;
}
.arrival_vairous .arrival_shangchi .shangchi_item p {
  margin-top: 12px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #9CA3AF;
}
.arrival_vairous .arrival_shangchi .shangchi_item h5 {
  width: 255px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
.arrival_vairous .arrival_shangchi .shangchi_item .shangchi_obj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: -32px;
}
.arrival_vairous .arrival_shangchi .shangchi_item .shangchi_obj :nth-child(2) {
  font-size: 12px;
  margin-left: -2px;
}
.arrival_vairous .arrival_shangchi .shangchi_item .shangchi_obj :nth-child(3) {
  margin-left: 82px;
  margin-top: -4px;
}
.arrival_vairous .arrival_shangchi .shangchi_item .shangchi_obj :nth-child(4) {
  font-size: 14px;
}
.arrival_vairous .arrival_dontbreathe .dontbreathe_ul {
  list-style-type: none;
  position: absolute;
  margin-top: 17px;
  margin-left: 170px;
}
.arrival_vairous .arrival_dontbreathe .dontbreathe_item p {
  margin-top: 12px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #9CA3AF;
}
.arrival_vairous .arrival_dontbreathe .dontbreathe_item h5 {
  width: 255px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
.arrival_vairous .arrival_dontbreathe .dontbreathe_item .dontbreathe_obj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: -32px;
}
.arrival_vairous .arrival_dontbreathe .dontbreathe_item .dontbreathe_obj :nth-child(2) {
  font-size: 12px;
  margin-left: -2px;
}
.arrival_vairous .arrival_dontbreathe .dontbreathe_item .dontbreathe_obj :nth-child(3) {
  margin-left: 82px;
  margin-top: -4px;
}
.arrival_vairous .arrival_dontbreathe .dontbreathe_item .dontbreathe_obj :nth-child(4) {
  font-size: 14px;
}

.videos_arrowleft {
  margin-left: -326px;
  margin-top: 174px;
  position: absolute;
}

.videos_arrowright {
  margin-left: 1423px;
  margin-top: 174px;
  position: absolute;
}

.videos_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1695px;
  margin-left: -314px;
  list-style-type: none;
  margin-top: 75px;
}
.videos_inner h2 {
  font-weight: 700;
}
.videos_inner .videos_inner-item {
  margin-left: 1300px;
}
.videos_inner .videos_inner-item a {
  color: #BE123C;
  text-decoration: none;
}

.videos_various {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1752px;
  margin-left: -326px;
  margin-top: 40px;
}
.videos_various .videos_lamb p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.videos_various .videos_lamb img {
  width: 591px;
  height: 320px;
}
.videos_various .videos_suicide p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.videos_various .videos_suicide img {
  width: 591px;
  height: 320px;
}
.videos_various .videos_horror p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.videos_various .videos_horror img {
  width: 299px;
  height: 320px;
}

.featured_arrowleft {
  margin-left: -326px;
  margin-top: 174px;
  position: absolute;
}

.featured_arrowright {
  margin-left: 1423px;
  margin-top: 174px;
  position: absolute;
}

.featured_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1695px;
  margin-left: -314px;
  list-style-type: none;
  margin-top: 75px;
}
.featured_inner h2 {
  font-weight: 700;
}
.featured_inner .featured_inner-item {
  margin-left: 1300px;
}
.featured_inner .featured_inner-item a {
  color: #BE123C;
  text-decoration: none;
}

.featured_various {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1784px;
  margin-left: -343px;
  margin-top: 40px;
}
.featured_various .features_keanu p {
  font-size: 20px;
  font-weight: 600;
}
.featured_various .features_keanu img {
  width: 323px;
  height: 460px;
}
.featured_various .featured_ryan p {
  font-size: 20px;
  font-weight: 600;
}
.featured_various .featured_ryan img {
  width: 323px;
  height: 460px;
}
.featured_various .featured_timothee p {
  font-size: 20px;
  font-weight: 600;
}
.featured_various .featured_timothee img {
  width: 323px;
  height: 460px;
}
.featured_various .featured_chore p {
  font-size: 20px;
  font-weight: 600;
}
.featured_various .featured_chore img {
  width: 323px;
  height: 460px;
}

.contact_box p {
  margin-top: 32px;
  margin-left: 380px;
}

.contact_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  list-style-type: none;
  width: 250px;
  margin-left: 400px;
}

.contact_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  list-style-type: none;
  width: 453px;
  margin-left: 295px;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}/*# sourceMappingURL=main.css.map */